@import '../../../import.scss';

.form-group {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0rem;
  }
}

.form-input {
  padding: .75rem 1rem;
  font-size: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 100%;

  &:hover {
    border-color: darken(#e6e6e6, 10%);
  }
}

.form-label {
  padding: .75rem 0rem;
  display: block;
  font-weight: bold;
}

.field-error-message {
  display: inline-block;
  font-size: .75rem;
  color: $error-color;
  padding: .75rem 1rem;
}