@import '../../../import.scss';

.checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    //align-items: center; // for certain font families
  }

  & + label span {
    display: inline-block;
    vertical-align: middle;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 15px;
    display: inline-block;
    vertical-align: text-top;
    width: 25px;
    min-width: 25px;
    height: 25px;
    background: #fff;
    border: 2px solid $font-color;
    border-radius: 4px;
    align-self: normal;
  }

  // Box hover
  &:hover + label:before {
    background: $font-color;
  }

  // Box checked
  &:checked + label:before {
    background: $font-color;
  }

  // Checkmark
  &:checked + label:after, &:hover + label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
    align-self: unset;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: not-allowed;
  }

  &:disabled + label:after {
    box-shadow: none;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background-color: #fff;
    border-color: #b8b8b8;
  }
}