.checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }

  & + label span {
    display: inline-block;
    vertical-align: middle;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 15px;
    display: inline-block;
    vertical-align: text-top;
    width: 25px;
    min-width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    align-self: normal;
    transition: all ease-in .3s;
  }

  // Box hover
  &:hover + label:before {
    background: #fff;
    border-color: darken(#e6e6e6, 10%);
  }

  // Box checked
  &:checked + label:before {
    background: #fff;
  }

  // Checkmark
  &:checked + label:after, &:hover + label:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 5px;
    transform: rotate(45deg);
    height: 11px;
    width: 6px;
    border-bottom: 2px solid #4d4d4d;
    border-right: 2px solid #4d4d4d;
    align-self: unset;
  }

  // Disabled state label.
  &:disabled + label {
    color: #e6e6e6;
    cursor: not-allowed;
  }

  &:disabled + label:after {
    border: 0;
    background-color: #f7f7f7;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background-color: #f7f7f7;
    border-color: #e6e6e6;
  }
}