@import '../../../import.scss';

.select-container {
  position: relative;
}

.select-btn, .select-list {
  font-size: 1rem;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #fff;
  color: $font-color;
  width: 100%;
}

.select-btn {
  padding: $item-padding;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &:focus, &:hover {
    border-color: darken(#e6e6e6, 5%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #f7f7f7;
    color: #4d4d4d;
  }
}

.select-actions {
  button {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    &:first-of-type {
      padding-right: .5rem;
      border-right: 1px solid #e6e6e6;
    }

    &:last-of-type {
      padding-left: .5rem;
      padding-right: 0px;
      border-right: none;
    }
  }
}

.select-list {
  position: absolute;
  margin-top: .5rem;

  li {
    padding: $item-padding;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;

    &:hover {
      background-color: #e6e6e6;
    }
  }
}

.list-open {
  .chevron {
    transform: rotate(180deg);
  }
}