@import '../../../import.scss';

$select-padding: $item-padding-tb - .35 + 0rem $item-padding-lr - .2 + 0rem;
$select-item-padding: $item-padding-tb / 2 + 0rem $item-padding-lr / 2 + 0rem;

.select-container, .multi-select-container {
  position: relative;
}

.select-btn, .select-list {
  font-size: 1rem;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #fff;
  color: $font-color;
  width: 100%;
}

.select-btn {
  padding: $item-padding;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;

  &:focus, &:hover {
    border-color: darken(#e6e6e6, 5%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #f7f7f7;
    color: #4d4d4d;
  }
}

.select-actions {
  display: flex;
  flex-shrink: 0;
  align-self: stretch;

  button {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;

    &:first-of-type {
      padding-right: .5rem;
      border-right: 1px solid #e6e6e6;
    }

    &:last-of-type {
      padding-left: .5rem;
      padding-right: 0px;
      border-right: none;
    }
  }
}

.select-list {
  position: absolute;
  margin-top: .5rem;
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  word-break: break-all;
  max-height: 300px;
  overflow: auto;
  z-index: 2;

  li {
    padding: $item-padding;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;

    &:hover {
      background-color: #e6e6e6;
    }
  }
}

.select-chevron, .select-clear {
  fill: $font-color;
}

.list-open {
  .select-chevron {
    transform: rotate(180deg);
  }
}

.multi-select-container {
  .select-btn {
    padding: $select-padding;
  }
  .selected {
    margin: .1rem;
    display: inline-block;
  }

  .selected span {
    display: inline-block;
    padding: $select-item-padding;
    background-color: #e6e6e6;
  }

  .remove-selected {
    padding: $select-item-padding;
    background-color: #e6e6e6;
    fill: $font-color;
    border: 0;
    cursor: pointer;

    &:hover {
      fill: #fff;
      background-color: #dc3545;
    }
  }
}

