@import '../../import.scss';

.btn {
  padding: $item-padding;
  font-size: 1rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #e6e6e6;
  color: $font-color;
  cursor: pointer;

  &:focus, &:hover {
    background-color: darken(#e6e6e6, 10%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #f7f7f7;
    color: #4d4d4d;
  }
}

.is-primary {
  background-color: $primary-color;
  color: $primary-color-font;

  &:focus, &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.is-alternate {
  background-color: #ffffff;
  color: $font-color;
  border-color: #e6e6e6;

  &:focus, &:hover {
    background-color: darken(#ffffff, 10%);
  }
}

.is-danger {
  background-color: $error-color;
  color: #ffffff;

  &:focus, &:hover {
    background-color: darken($error-color, 10%);
  }
}

.is-warning {
  background-color: $warning-color;
  color: #4d4d4d;

  &:focus, &:hover {
    background-color: darken($warning-color, 10%);
  }
}

.is-success {
  background-color: $success-color;
  color: #ffffff;

  &:focus, &:hover {
    background-color: darken($success-color, 10%);
  }
}