@import "../../scss/Import";

.wizard {
  padding: $item-padding;
  border: .0625rem solid #e6e6e6;
  border-radius: .25rem;
}

.wizard:after {
  content: "";
  display: block;
  clear: both;
 }

.wizard-buttons {
  padding-top: $item-padding-tb + 0rem;
}

.btn-previous{
  font-weight: bold;
}

.btn-next {
  float: right;
}