#story-root {
  padding: 20px 40px 40px;
  font-family: 'Lato', 'Open sans', sans-serif;

  .checkbox-container {
    margin-bottom: 20px;
  }

  .btn {
    margin-right: 15px;
  }

  .link {
    padding: .75rem 1rem; //display purposes
  }

  .story-inputs {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}