@import '../scss/_Import.scss';
@import '../scss/Layout.scss';
@import '../scss/Button.scss';
@import '../scss/Form.scss';

#story-root {
  padding: 0px 20px 40px 40px;
  font-family: 'Lato', 'Open sans', sans-serif;

  h4 {
    margin-bottom: 2em;
  }

  p {
    margin-bottom: 1em;

    &:last-of-type {
      padding-top: 2em;
    }
  }

  .sandbox {
    margin-bottom: 1em;
  }

  .checkbox-container {
    margin-bottom: 20px;
  }

  .btn-group .btn {
    margin-top: 1em; // storybook purposes
  }

  .ul-list {
    margin-bottom: 1em;
  }

  .sample-grid {
    .col {
      padding: 1em 2em;
      background-color: #e6e6e6;
      text-align: center;
      align-items: center;
    }

    .row {
      margin-bottom: .5em;
    }
  }

  .sample-expand-collapse {
    .expandable-container {
      margin-bottom: 1em;
    }
  }

  .view-code {
    .expandable-row {
      display: flex;
      justify-content: flex-end;
    }

    .expandable-lbl-toggle {
      color: $link-color;
      width: auto;
      padding: 0;
  
      .expandable-icon:before,
      .expandable-icon:after {
        background-color: $link-color;
      }
    }

    .expandable-lbl-toggle:hover,
    .expandable-lbl-toggle:focus {
      text-decoration: underline;
    }

    .expandable-lbl-toggle.expanded,
    .expandable-lbl-toggle:focus,
    .expandable-lbl-toggle:hover {
      background-color: #fff;
    }
  }
}

.info-table {
  border-collapse: collapse;

  th {
    text-align: left;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
  }

  tr {
    border-bottom: 2px solid #e6e6e6;
  }

  td {
    vertical-align: top;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
  }

  td:first-of-type {
    font-weight: bold;
  }
}