@import '../../../import.scss';

.input {
  padding: .375rem .75rem;
  font-size: 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  width: 100%;
}

.error-message {
  font-size: .75rem;
  color: $error-color;
  padding: .375rem .75rem;
}