@import '../../import.scss';

.checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }

  & + label span {
    display: inline-block;
    vertical-align: middle;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 15px;
    display: inline-block;
    vertical-align: text-top;
    width: 19px;
    min-width: 19px;
    height: 19px;
    background: #fff;
    border: 3px solid #dedede;
    border-radius: 40%;
    align-self: normal;
  }

  // Box hover
  &:hover + label:before {
    background: $primary-color;
  }

  // Box checked
  &:checked + label:before {
    background: $primary-color;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after, &:hover + label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
    align-self: unset;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: not-allowed;
  }

  &:disabled + label:after {
    box-shadow: none;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background-color: #fff;
  }
}