@import '../../scss/_Import.scss';

input[type='checkbox'] {
  display: none;
}

.expandable-lbl-toggle {
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;

  .label-container {
    display: flex;
    align-items: center;
  }
}

.expandable-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: .8rem;
  height: .8rem;
  position: relative;
  margin-left: 1rem;

  &:before,
  &:after{
    background: #4d4d4d;
    content: '';
    height: .2rem;
    right: 0;
    position: absolute;
    width: .8rem;
    transition: transform .2s ease-in-out;
  }
  &:after {
    transform-origin: center;
    transform: rotate(90deg)
  }
}

.expandable-content {
  max-height: 0;
  transition: max-height .5s ease-in-out;
  overflow: hidden;

  background-color: #fff;
}

.expandable-toggle:checked + .expandable-lbl-toggle + .expandable-content{
  max-height: 1337px;
}

.expandable-toggle:checked + .expandable-lbl-toggle span.expandable-icon{
  &:after {
    transform: rotate(180deg);
  }
  &:before {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 520px) {
  .expandable-toggle:checked + .expandable-lbl-toggle + .expandable-content{
    max-height: 3000px;
  } 
}