@import './scss/Layout.scss';
@import './scss/Button.scss';
@import './scss/Form.scss';

.sandbox {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;

  & > .btn {
    margin-top: 3rem;
    margin-right: 3rem;
  }
}

.wizard {
  margin-top: 3rem;
}