$font-color: #4d4d4d;
$font-alt-color: #ffffff;
$background-color: #f7f7f7;
$background-highlight: #dedede;
$primary-color: #007bff;
$alternate-color: #6c757d;
$error-color: #dc3545;
$success-color: #28a745;
$warning-color: #ffc107;

