$font-color: #4d4d4d;
$font-alt-color: #ffffff;
$background-color: #f7f7f7;
$background-highlight: #dedede;

$primary-color: #007bff;
$primary-color-font: #ffffff;
$alternate-color: #f7f7f7;
$alternate-color-font: #4d4d4d;

