$font-color: #4d4d4d;
$font-alt-color: #ffffff;
$background-color: #f7f7f7;
$background-highlight: #dedede;

$primary-color: #007bff;
$primary-color-font: #ffffff;
$alternate-color: #f7f7f7;
$alternate-color-font: #4d4d4d;

$error-color: #dc3545;
$success-color: #28a745;
$warning-color: #ffc107;

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, div, label, p, ul, ol {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.circular {
  border-radius: 50%;
}