$font-color: #4d4d4d;
$font-alt-color: #ffffff;
$background-color: #f7f7f7;
$background-highlight: #dedede;

$primary-color: #007bff;
$primary-color-font: #ffffff;
$alternate-color: #f7f7f7;
$alternate-color-font: #4d4d4d;

$link-color: #007bff;
$error-color: #dc3545;
$success-color: #28a745;
$warning-color: #ffc107;

$font-size: 16px;
$line-height: 1.2;

$item-padding: .75rem 1rem;
$item-padding-lr: 1;
$item-padding-tb: .75;

$container-padding: 1.5;
$container-padding-lr: 1.5;
$container-padding-tb: 1.5;

$spacer: 5px; // or calc(.5*$font-size);
