@import './_Import.scss';

// Clear Base
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body, h1, h2, h3, h4, div, label, p, ul, ol, button, input {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Open sans', sans-serif;
  color: $font-color;
  font-size: 1rem;
  line-height: 1.2;
  outline: none;
}

ul, ol {
  list-style: none;
}

// Grid
.row {
  display: flex;
  flex: 0;
}

.col {
  flex: 1;
  flex-direction: column;
  margin-right: 1.25rem;

  &:last-of-type {
    margin-right: 0rem;
  }
}

.col-min {
  flex-grow: 0;
  flex-shrink: 0;
  // flex-basis: (width) rem; for fixed
}

.col-reverse {
  flex-direction: column-reverse;
  align-items: flex-end;
}

// Modifiers
.to-row {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.to-col {
  display: flex !important;
  flex-direction: column !important;
}

.circular {
  border-radius: 50% !important;
}

.flex-center {
  align-items: center !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.to-spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media (max-width: 520px) {
  .row {
    display: block;
  }

  .col {
    margin-right: 0rem;
    margin-bottom: 1.25rem;
  }
}
